.modal-overlay{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);

    &__close{
        padding: 0;
        position: absolute;
        top: 4.2%;
        right: 9.72%;
        .btn-reset();
        @size: 16px;
        width: @size;
        height: @size;
        &::before,
        &::after{
            content: '';
            display: block;
            position: absolute;
            border-bottom: 2px solid #fff;
            top: 50%;
            margin-top: -1px;
            width: 100%;
        }
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
    &.active{
        display: block;
    }
}

.modal{
    display: none;
    padding: 10px;
    width: 97%;
    max-width: 964px;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    min-height: 50%;
    max-height: 70%;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.active{
        display: block;
    }
   
    &_h{
        padding: 0;
        margin-top: 80px;
        margin-bottom: 18px;
        text-align: center;
        font-size: 48px;
        font-weight: @fontNormal;
      
    }

    &_p{
        padding: 0;
        margin-top: 0;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 14px;
        color: #555;
        line-height: 1.5;
        max-width: 237px;
    }
}


.application{
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: @fontNormal;
    &+&{
        margin-top: 20px;
    }
}

.label{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 14px; 
}


.input{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 374px;
    padding-left: 24px;
    padding-bottom: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
}


.button{
    background-color:@colorMain;
    color: #fff;
    background-size: auto auto;
    border: none;
    box-shadow: 0px 7px 21px rgba(55, 125, 60, 0.3);
    border-radius: 50px;
    width: 214px;
    text-align: center;
    padding-top: 0;
    margin-top: 52px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 80px;
}


