@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import '_header.less';




/* Set defaults */

html,
body{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

// @font-face {
// 	font-family: Montserrat;
// 	src: url(../fonts/);
// }

body{
	font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
	max-width: 1920px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: @fontNormal;
	line-height: 1.5;
}


::-webkit-scrollbar{
	width: 7px;
	height: 5px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: @colorMain;
}

.ul-reset{
	list-style: none;
}

.input{
	font: inherit;
	appearance: none;
	opacity: 1;
	transition: @transT;
	&:focus{
		outline: none;
		box-shadow: 1px 1px 30px 1px rgba(60,86,166, 0.3);
	}
}

img,
video{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

/* Atomic */

.d-n{
	display: none;
}

.d-b{
	display: block;
}

.d-f{
	display: flex;
}

.ttu{
	text-transform: uppercase;
}

.ta-c{
	text-align: center;
}

.ov-h{
	overflow: hidden;
}

.ov-s{
	overflow: scroll;
}

.black{
	color: #000;
}

/* Global */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.col{
	.col();
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-heading{
	font-size: 48px;
	margin: 0;
	text-align: center;
	
}

/* General */

.banner{
	    padding-top: 167px;
		padding-bottom: 269px;
		background-image: url(../img/bg.jpg);
		background-size: cover;
		background-position: center;
		margin-bottom: 170px;


	&__text{
		font-size: 90px;
		.size(7);
		line-height: 1.2;
		margin: 0;
		margin-bottom: 56px;
	}

	&__btn{
		.btn-reset();
		padding: 18px 55px;
		font-weight: @fontSBold;
		border-radius: 50px;
		vertical-align: bottom;
		transition: @transT;

		&_colored{
			box-shadow: 0px 7px 21px rgba(55, 125, 60, 0.3);
			background-color: @colorMain;
			color: #fff;
			&:hover{
				border-color: darken(@colorMain, 10%);
				background-color: @colorHLine;
			}
		}

		&_trans{
			margin-left: 18px;
			border: 2px solid @colorHLine;
			&:hover{
				border-color: @colorMain;
				background-color: @colorHLine;
			}
		}
	}

	&__btn:focus{
		box-shadow: 0px 0px 2px 2px #547756;
}



}

body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.2;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.bg-normalize{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.menu{
	padding-top: 0;
	padding-bottom: 85px;

	&__h{
		font-weight: @fontNormal;
		margin-bottom: 26px;
	}

	&__text{
		width: 50%;
		text-align: center;
		margin: 0 auto;
		line-height: 1.6;
		font-size: 14px;
		color: @colorTGraSection;
		margin-bottom: 52px;
	}

	&__tabs{
		margin-bottom: 40px;
		margin-right: 10px;
		list-style: none;
	}
}

.tabs{
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding: 0;

	&__item{
		@offset: 4px;
		padding-left: @offset;
		padding-right: @offset;

		&+&{
			margin-left: 70px;
		}

		&.active,
		&:hover{
			border-bottom: 2px solid @colorHLine;
			a{
				color: @colorMain;
			}
		}
	}
	

	&__link{
		color: #000;
		font-weight: @fontSBold;
	}
}

.tabs-content{
	&__section{
		display: none;
		&.active{
			display: block;
		}
	}
	&__wrap{
		.row-flex();
		.xs-block({
			justify-content: center;
		})
	}
}

.product{
	.col();
	.size(3);
	.size-md(4);
	.size-sm(6);
	.size-xs(10);
	text-align: center;
	list-style: none;
	padding: 0;
	

	&__pic{
		margin-bottom: 24px;
		width: 100%;
	}

	&__name{
    margin: 0;
	margin-bottom: 8px;
	font-weight: @fontNormal;
	font-size: 16px;
	}

	&__price{
		font-weight: @fontBold;
		color: @colorMain;
		margin: 0;
		padding: 0;
	}
}

.about{
	padding-top: 85px;
	padding-bottom: 112px;

	&__slider{
		width: 50%;
		padding-right: @offset;
		float: left;
	}

	&__figure{
		margin: 0;
		margin-bottom: 15px;
		padding: 0;
	}

	&__h{
		text-align: left;
		font-weight: @fontNormal;
		font-size: 48px;
		margin-bottom: 34px;
	}

	&__text{
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 1.5;
	}

	&__first_p{
		margin-bottom: 24px;
	}

	&__last_p{
		clear: both;
		margin: 0;
		margin-bottom: 20px;
	}

	&__btn{
		font-weight: @fontSBold;
		color: @colorMain;
		list-style: none;
		background-color: #fff;
		outline: none;
		border: none;
		border-bottom: 2px solid transparent;
	}

	&__btn:hover{
		border-bottom: 2px solid @colorHLine ;
	}

	
		
	
}

.article-slider{
	//Временное решение
	&__slide{
		display: none;
		&:first-child{
		display: block;
		}
	}

	&__img{
		display: block;
		margin: 0;
	}

	&__btns{
		margin: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 36px;
	}

	&__btn{
		.btn-reset();
		width: 12px;
		padding: 0;

		&_prev{
			margin-right: 25px;
		}
	


		&_next{
			svg{
				transform: rotate(-180deg) translateY(1.5px);
			}
			margin-top: 1px;
			
		}

		path{
			fill: @colorMain;
		}
	}

	&__btn:hover,
	&__btn:focus{
		color: darken(@colorMain, 10%);
		transform: scale(1.5);
		transition: 0.3s;
	}
	

	&__btn:focus{
		color: darken(@colorMain, 10%);
		
	}
}

.features{
	padding-top: 113px;
	padding-bottom: 113px;
	text-align: center;
	&__h{
		font-size: 48px;
		font-weight: @fontNormal;
		display: flex;
		justify-content: center;
		margin-top: 0;
		margin-bottom: 26px;
	}
	&__p{
		font-weight: @fontNormal;
		font-size: 14px;
		line-height: 1.6;
		text-align: center;
		.size(6);
		margin: 0 auto;
		margin-bottom: 74px;	
	}

	&__menu{
		display: flex;
		justify-content: space-between;

		&_item{
			display: block;
			justify-content: center;
			.size(3);
			border-right: 1px solid #DDD;
		}
	}
}

.f-pic{
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: 19px;
	color: @colorMain;
}

.f-item{
	font-weight: @fontSBold;
	font-size: 18px;
	line-height: 1.2;
}

.visitors{
	padding-top: 112px;
	padding-bottom: 85px;
	&__h{
		font-weight: @fontNormal;
		font-size: 48px;
		margin-top: 0;
		margin-bottom: 60px;
		text-align: center;
	}
}

.visitors__articles{
	.row-flex()

}

.visitors__article{
	.col();
	.size(4);
	padding-left: 34px;
	padding-right: 32px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

	&_pic{
		padding-top: 70px;
		padding-bottom: 21px;
	}

	&_p{
		padding-bottom: 32px;
		font-weight: @fontNormal;
		line-height: 1.5;
	
	}

	&_date{
		padding-bottom: 70px;
	}
}


.come{
	padding-top: 85px;
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
	line-height: 1.2;
	align-items: center;

	&__aside{
		margin-bottom: 45px;
	}

	&__h{
		font-weight: @fontNormal;
		font-size: 48px;
		padding-bottom: 58px;
		margin: 0;
	}

	&__ico{
		display: flex;
		align-items: baseline;
		padding: 0;
		margin-top: 0;
		list-style: none;
		
		&_pic{
			margin-right: 12px;
		}
	}
}

.footer{
	margin-top: 0;
	margin-bottom: 36px;
	text-align: center;

	&__navigation{
		color: #000;
		&:hover,
		&:focus{
			color: @colorMain;
		}
	}
}

.footer__web{
	margin-top: 45px;
	padding-left: 0;
		&_link{
			&+&{
				margin-left: 11px;
			}
		}
}


