<footer id="contacts" class="wrapper">
    <section class="come">
        <aside class="come__aside">
            <h2 class="come__h main-heading">
                Come to us!
            </h2>
            <ul class="come__ico">
                <img class="come__ico_pic" src="img/ico-time.svg" alt="time">
                <li>
                    8:00-23:00
                </li>
            </ul>
            <ul class="come__ico">
                <img class="come__ico_pic" src="img/ico-adress.svg" alt="adress">
                <li>
                    9532 W Linebaugh Ave, Tampa
                </li>
            </ul>
            <ul class="come__ico">
                <img class="come__ico_pic" src="img/ico-phone.svg" alt="phone">
                <li>
                    <a class="footer__navigation" href="tel:+12538675413">+1 253 867-54-13</a>
                </li>
            </ul>
            <ul class="come__ico">
                <img class="come__ico_pic" src="img/ico-email.svg" alt="email">
                <li>
                    <a class="footer__navigation" href="email:coffeeplanet@mail.com">coffeeplanet@mail.com</a>
                </li>
            </ul>
            <p class="footer__web">
                <a class="footer__web_link" target="_blank" href="https://www.facebook.com/grindcoffeesi"> 
                    {% include 'parts/svgo/ico-facebook.svg' %}
                </a>
                <a class="footer__web_link" target="_blank" href="https://www.instagram.com/grindcoffeesi?igsh=MWFuMXMya2Jyd3c3MA==">
                    {% include 'parts/svgo/ico-instagram.svg' %}
                </a>
            </p>
        </aside> 
    <div>
        <a target="_blank" href="https://maps.app.goo.gl/aov2KTU1feWVETpX7">
            <img class="come__ico_pic" width="767" height="461" src="../img/map.png" alt="">
        </a>
    </div>   
    </section>
    <p class="footer">
        Copyright 2021 CoffeePlanet
    </p>
</footer>