<div class="modal-overlay">
    <div class="modal modal-form">
      <h2 class="modal_h">Book a table</h2>
      <p class="modal_p">Leave your phone number and we will contact you</p>
      <form action="#" class="">
        <p class="application">
            <label class="sr-only" for="name"><span class="label">Name</span></label>
            <input placeholder="Name" class="input" name="input" id="name" type="text">
        </p>
        <p class="application">
            <label class="sr-only" for="phone"><span class="label">Phone</span></label>
            <input placeholder="Phone" class="input" name="input-phone" id="phone" type="phone" required>
        </p>
        <div>
            <button class="button application" type="submit">Send</button>
        </div>
       </form>
    </div>
    <div class="modal modal-video">
        <div class="modal-video__wrap">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ppPF9r6UcrU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="modal modal-alert">
        <img class="ico-modal" src="img/ico-ok.svg" alt="icon-done">
        <h2 class="modal3_h">Thank you!</h2>
        <p>We will contact you as soon as possible</p>
    </div>
    <button aria-label="Close a modal window" class="modal-overlay__close">

    </button>
</div>


<script src="./js/js.js"></script>
</body>
</html>